DISCORD_TOKEN=
MONGO_TOKEN=
GIPHY_TOKEN=
WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=
OWNER_ID=
GROQ=

# Not neccessary variables
DISCORD_STATUS="Listening to meself, i love you" # seprate by comma
RADIO="" # default to https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_live.mp3
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST="lava.link"
LAVALINK_PASSWORD="I'm a secret"
LAVALINK_PORT=80
LAVALINK_SECURE=false